/* .prose h1 {
  font-size: 2.25rem;
  color: #1a202c;
}

.prose p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.prose a {
  color: #3182ce;
  text-decoration: underline;
}

.prose img {
  max-width: 100%;
  height: auto;
} */
